body {
  background-image: url("https://images.unsplash.com/photo-1535182463927-440364075d9c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2344&q=80")
}
.title {
  font-family: "Bebas Neue", monospace;
  font-size: 60px;
  text-align: center;
  color: #e0dbc6;
  text-shadow: 2px 2px 4px black;
}
.header {
  font-family: "Bebas Neue", monospace;
  font-size: 45px;
  text-align: center;
  color: #e0dbc6;
  text-shadow: 2px 2px 4px black;
}

p {
  text-align: justify;
  font-family: "Roboto Mono", monospace;
  color: #e0dbc6;
  text-shadow: 2px 2px 4px #000000;
  font-size: large;
}

div.container{
  display: flex;
}

.profile {
  flex: 25%;
  height: 200px;
  padding: 10px;
  margin: 5px;
}

img {
  float: left;
  margin-right: 5px;
}

h2 {
  color: #e0dbc6;
  text-shadow: 2px 2px 4px black;
}